%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    <div class="row">
                        <div class="col-md-12" id="LayoutColumn1">
                            %%Panel.PageBreadcrumb%%
                            %%Panel.PageContent%%
                            %%Panel.PageComments%%
                            %%Banner.BottomBanner%%
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>