%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    <div class="productlist-page">
                        <div class="Left">
                            %%Panel.SideShopByBrand%%
                        </div>
                        <div class="Content Wide %%GLOBAL_ExtraCategoryClass%%" id="LayoutColumn1">
                            %%Panel.BrandBreadcrumb%%
                            %%Banner.TopBanner%%
                            <h1 class="TitleHeading">%%GLOBAL_TrailBrandName%%</h1>
                            <div class="product-nav">
                                %%SNIPPET_CategorySortBox%%
                                %%SNIPPET_BrandPaging%%
                                <div class="clear"></div>
                            </div>
                            %%Panel.BrandContent%%
                        </div>
                        %%Banner.BottomBanner%%
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>
