%%Panel.HTMLHead%%
    <body id="home">
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            %%Panel.FeaturedVideo%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    <div class="row">
                        <div class="col-md-12" id="LayoutColumn1">
                            <div class="home-about">
                                %%Banner.TopBanner%%
                                <a class="btn alt" href="/about-us">Read more...</a>
                            </div>

                            %%Panel.HomeShopNow%%
                            %%Discount.FreeShippingEligibility%%
                            %%Banner.BottomBanner%%
                            
                        </div>
                    </div>
                </div>        
                <div class="home-socialsection">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">%%Panel.HomeSocial%%</div>
                            <div class="col-md-6 text-center home-testimonials">%%Panel.HomeTestimonials%%</div>
                        </div>
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>