%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    %%Panel.EditAccountBreadcrumb%%
                    <h1 class="TitleHeading">%%LNG_YourAccount%%</h1>
                    <div class="row">
                        <div class="col-md-3" id="LayoutColumn1">
                            %%Panel.SideAccountMenu%%
                            %%Panel.SideAccountStoreCredit%%
                        </div>
                        <div class="col-md-9" id="LayoutColumn2">
                            %%Panel.EditAccountForm%%
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>