%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
					<h1>%%GLOBAL_BlogName%%</h1>
					<div class="BlockContent">
						<p class="InfoMessage Message">
						There are no posts here yet, please check back later.
						</p>
					</div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>