%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    <div class="Block Breadcrumb Moveable Panel" id="GiftCertificateBreadcrumb">
                        <ul>
                            <li><a href="%%GLOBAL_ShopPathNormal%%/">%%LNG_Home%%</a></li>
                            <li><a href="%%GLOBAL_ShopPathNormal%%/giftcertificates.php">%%LNG_GiftCertificates%%</a></li>
                            <li>%%LNG_CheckCertificateBalance%%</li>
                        </ul>
                    </div>
                    <h1 class="TitleHeading">%%LNG_GiftCertificates%%</h1>
                    <div class="full-width page-content">
                        <div class="Left" id="LayoutColumn1">
                            %%Panel.GiftCertificatesMenu%%
                        </div>
                        <div class="Content" id="LayoutColumn2">
                            %%Panel.GiftCertificateBalanceRemaining%%
                            %%Panel.CheckGiftCertificateBalance%%
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>