<div class="featured-video embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NFEeBbjEDTs?rel=0&autoplay=1&loop=1&playlist=NFEeBbjEDTs&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
</div>