<div class="footer">
    <div class="inner">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 contact-us">
                        <h4>Contact Us</h4>
                        <p>12 Heather Street<br>
                        Collaroy Plateau<br>
                        NSW, 2097 Australia</p>
                    </div>
                    <div class="col-md-4">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li>%%SNIPPET_SitemapLink%%</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Connect with us</h4>
                        %%Panel.SocialLinks%%
                        <img src="%%ASSET_images/custom/Cards.png%%" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-links">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            &copy; %%GLOBAL_Year%% %%GLOBAL_StoreName%%. All rights reserved.
                            <span class="powered-by">Powered by: &copy; <a href="www.cleverlocal.com">Cleverlocal</a></span>
                        </p>
                        %%GLOBAL_DebugDetails%%
                    </div>
               </div>
            </div>
        </div>

    </div>
</div>

<script src="%%GLOBAL_TPL_PATH%%/js/default.js"></script>

%%GLOBAL_DesignModeHTML%%
%%GLOBAL_QueryList%%
%%GLOBAL_DesignModeScriptTag%%
%%GLOBAL_LiveChatFooterCode%%



%%GLOBAL_FooterScripts%%
%%GLOBAL_PinterestJS%%
%%SNIPPET_FastCartThickBoxJs%%
