<div class="header">
	<div class="inner">

		<div id="AjaxLoading">
			<div class="ajax-loader">
				<img src="%%GLOBAL_IMG_PATH%%/loader.png" alt="" />&nbsp;%%LNG_LoadingPleaseWait%%
			</div>
		</div>

		%%GLOBAL_MaintenanceNotice%%

		<div id="Header" class="header__main">
			<div class="container">
				<div class="row">
					<div id="ToggleMenu">
						Menu
					</div>
					<div class="text-center">
						%%GLOBAL_HeaderLogo%%
					</div>
				</div>
			</div>
		</div>

		<div class="PageMenu header__page-menu text-center">
			<div class="container">
				<div class="row">
					%%Panel.PagesMenu%%
					<div class="HeaderSearch hidden">
						%%Panel.HeaderSearch%%
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
