	<h2>Product Testimonials</h2>

	<p class="testimonial">"Like? LOVE the 'Fat Cloud'! Everyone needs one! So easy! Time to relax! : )"</p>
	
	<p class="icon">
		<i class="fa fa-user"></i>
	</p>
	
	<div class="name">Amelia Browne</div>