<div class="home-shopnow row">
	<div class="col-md-6">
		<img src="%%ASSET_images/custom/fatcloud-product.png%%" alt="Fat Cloud">
	</div>
	<div class="col-md-6 text-center" style="padding:50px 0;">
		<button class="btn btn-large" >Shop now</button>
	</div>
</div>