<ul class="pages-menu sf-menu sf-horizontal sf-js-enabled">
	%%SNIPPET_PageMenu%%
	<li class="page-menu-icon">
		<a href="#"><i class="fa fa-search"></i></a>
	</li>
	<li class="page-menu-icon">
		<a href="#"><i class="fa fa-user"></i></a>
	</li>
	<li class="page-menu-icon">
		<a href="#"><i class="fa fa-shopping-cart"></i></a>
	</li>
</ul>