.banner_home_page_top {
    padding-top: 45px;

    h1.banner-title{
    	font-family: 'DryBrush';
        margin-bottom: 30px;
    	text-align: center;
    }

    .banner-content{
    	-webkit-column-count: 2;
    	font-size: 16px;


    	p{
            line-height: 31px;
            font-weight: 100;
    	}
    }
}		