.footer {

	.newsletter-subscription {
		padding: 15px 0;

		input {
			padding: 0 1em;
			height: 35px;
		}
	}

	.footer-main {
	    padding: 10px 0 30px 0;
		
		p,li{
			font-size: 14px;
			font-weight: 200;
			margin-bottom: 5px;
		}
		
	    h4{
	    	padding: 0;
	    	text-transform: uppercase;
    	    font-size: 17px;
	    }
		
		img{
		    margin: 20px 0 0 30px;
		}

	    .SocialConnect{
	    	ul{
	    		text-align: left;
	    		
	    		li{
	    			margin-right: 35px;
	    			a{
	    				font-size: 27px;
	    			}
	    		}
	    	}
	    }
	}
}