.header {
	padding: 20px 0;

	.header__top-menu {
		padding: 10px 0;
	}

	.header__main {
		margin: 0;

		img#LogoImage {
		    width: 300px;
		}
	}

	.header__page-menu {
		ul{
			li{
				padding: 20px 0 0;
			    display: inline-block;

				> a{
					font-weight: 500;
					text-transform: lowercase;
					font-size: 1.4em;

					&:hover{
						color: @blue;
					}
				}

				&.page-menu-icon{
					margin-right: 10px;
	
					i.fa{
						width: 50px;
						height: 50px;
						border-radius: 50%;
						color: #fff;
						background: @blue;
					    padding: 12px 0;
    					font-size: 25px;
					}
				}
			}
		}
	}
}