@font-face{
	font-family: 'DryBrush';
	src: url(..fonts/DryBrush.otf);
}

@font-face{
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-UltraLight.otf);
	font-weight: 100;
}

@font-face{
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-Light.otf);
	font-weight: 200;
}

@font-face{
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-Regular.otf);
	font-weight: 300;
}

@font-face{
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-SemiBold.otf);
	font-weight: 400;
}

@font-face{
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-Bold.otf);
	font-weight: 500;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	font-weight: 100;
	color: #727272;
	float: left;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
	margin: 0;
	padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Montserrat';
	font-weight: 300;
	margin: 20px 0;
}

ul {
	margin: 0 0 0 17px;
	padding: 0;
}

a,
.btn,
input{
	transition:all 0.2s;
	&:hover {
		text-decoration: none;
	}
}

/* Buttons */
.btn{
	border-radius: 40px;
	height: auto;
	background: @blue;
	min-width: 200px;
	text-transform: lowercase;
	font-weight: 300;

	&.alt{
		background: #fff;
		color: #0ea2f7!important;
		border: 2px solid #0ea2f7;

		&:hover{
			background: @blue;
			color: #fff!important;
		}
	}

	&.btn-large{
		padding: 17px;
	}

	&:hover{
		background: #0E93DF;
	}
}


.SocialConnect {
	ul {
		li {
			a.icon-social.icon-social-theme {
				background-image: none;

				&:after {
					font-family: 'FontAwesome';
				}

				&.icon-facebook {
					&:after {
						content: '\f09a';
					}
				}

				&.icon-twitter {
					&:after {
						content: '\f099';
					}
				}

				&.icon-pinterest {
					&:after {
						content: '\f0d2';
					}
				}

				&.icon-googleplus {
					&:after {
						content: '\f0d5';
					}
				}

				&.icon-youtube {
					&:after {
						content: '\f167';
					}
				}

				&.icon-linkedin {
					&:after {
						content: '\f0e1';
					}
				}

				&.icon-instagram {
					&:after {
						content: '\f16d';
					}
				}
			}
		}
	}
}

.MaintenanceModeNotice {
	display: none;
}