
/* Homepage Featured Video */

.featured-video{
    overflow: hidden;
	iframe{
		width: 100%;
	}
}

.home-about{
	border-bottom: 1px dashed #ddd;
	padding: 20px 0;
	
	a.btn{
		width: 200px;
		display: block;
		padding: 0;
		margin: auto;
	}
}

.home-shopnow{
    padding: 60px 0;

	.btn{
		font-size: 2.3em;
	    width: 350px;
	}
}

.home-socialsection{
    padding: 40px 0;
    border-top: 1px solid #F7F7F7;

	h2 {
	    font-size: 30px;
	    color: #929292;
	}
}

.home-testimonials{
	h2{
		margin-bottom: 40px;
	}

	p.testimonial{
	    line-height: 30px;
	}

	p.icon {
	    background: #eee;
	    width: 100px;
	    height: 100px;
	    border-radius: 50%;
	    margin-top: 30px;

	    i{
	    	font-size: 40px;
			padding: 26px 0;
	    }
	}

	.name{
		margin-top: 15px;
	}
}