/* Newsletter Form */

.newsletter-subscription {
	text-align: center;

	.newsletter-subscription__title {
		display: inline-block;
		vertical-align: middle;
	}

	.newsletter-subscription__form {
		display: inline-block;
		vertical-align: middle;
		min-width: 610px;
	}

	.newsletter-subscription__textbox {
		display: inline-block;
		vertical-align: middle;
		max-width: 250px;
	}

	.newsletter-subscription__submit-btn {
		display: inline-block;
		vertical-align: middle;
    	max-width: 100px;
	}
}

/* Search Form */

.search-form {

	.search-form__textbox {

	}

	.search-form__submit-btn {

	}
}

/* Login Form */

.login-form {

	.login-form__title {
		margin-bottom: 20px;
	}

	.login-form__submit-btn,
	.login-form__link {
		margin-top: 20px;
	}
}

/* Express  Checkout */

.express-checkout {

	.express-checkout__title {
		margin-bottom: 20px;
	}
}