@font-face {
  font-family: 'DryBrush';
  src: url(..fonts/DryBrush.otf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-UltraLight.otf);
  font-weight: 100;
}
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Light.otf);
  font-weight: 200;
}
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.otf);
  font-weight: 300;
}
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-SemiBold.otf);
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.otf);
  font-weight: 500;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-weight: 100;
  color: #727272;
  float: left;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
  font-weight: 300;
  margin: 20px 0;
}
ul {
  margin: 0 0 0 17px;
  padding: 0;
}
a,
.btn,
input {
  transition: all 0.2s;
}
a:hover,
.btn:hover,
input:hover {
  text-decoration: none;
}
/* Buttons */
.btn {
  border-radius: 40px;
  height: auto;
  background: #0ea2f7;
  min-width: 200px;
  text-transform: lowercase;
  font-weight: 300;
}
.btn.alt {
  background: #fff;
  color: #0ea2f7!important;
  border: 2px solid #0ea2f7;
}
.btn.alt:hover {
  background: #0ea2f7;
  color: #fff!important;
}
.btn.btn-large {
  padding: 17px;
}
.btn:hover {
  background: #0E93DF;
}
.SocialConnect ul li a.icon-social.icon-social-theme {
  background-image: none;
}
.SocialConnect ul li a.icon-social.icon-social-theme:after {
  font-family: 'FontAwesome';
}
.SocialConnect ul li a.icon-social.icon-social-theme.icon-facebook:after {
  content: '\f09a';
}
.SocialConnect ul li a.icon-social.icon-social-theme.icon-twitter:after {
  content: '\f099';
}
.SocialConnect ul li a.icon-social.icon-social-theme.icon-pinterest:after {
  content: '\f0d2';
}
.SocialConnect ul li a.icon-social.icon-social-theme.icon-googleplus:after {
  content: '\f0d5';
}
.SocialConnect ul li a.icon-social.icon-social-theme.icon-youtube:after {
  content: '\f167';
}
.SocialConnect ul li a.icon-social.icon-social-theme.icon-linkedin:after {
  content: '\f0e1';
}
.SocialConnect ul li a.icon-social.icon-social-theme.icon-instagram:after {
  content: '\f16d';
}
.MaintenanceModeNotice {
  display: none;
}
/* ========== Layout ========== */
/* ========== Helpers / Msc. ========== */
.m-t-5 {
  margin-top: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-r-25 {
  margin-right: 25px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-l-25 {
  margin-left: 25px;
}
.m-l-30 {
  margin-left: 30px;
}
/* ========== Forms / Inputs / Buttons ========== */
/* ========== Header ========== */
.header {
  padding: 20px 0;
}
.header .header__top-menu {
  padding: 10px 0;
}
.header .header__main {
  margin: 0;
}
.header .header__main img#LogoImage {
  width: 300px;
}
.header .header__page-menu ul li {
  padding: 20px 0 0;
  display: inline-block;
}
.header .header__page-menu ul li > a {
  font-weight: 500;
  text-transform: lowercase;
  font-size: 1.4em;
}
.header .header__page-menu ul li > a:hover {
  color: #0ea2f7;
}
.header .header__page-menu ul li.page-menu-icon {
  margin-right: 10px;
}
.header .header__page-menu ul li.page-menu-icon i.fa {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  background: #0ea2f7;
  padding: 12px 0;
  font-size: 25px;
}
/* ========== Banner ========== */
.banner_home_page_top {
  padding-top: 45px;
}
.banner_home_page_top h1.banner-title {
  font-family: 'DryBrush';
  margin-bottom: 30px;
  text-align: center;
}
.banner_home_page_top .banner-content {
  -webkit-column-count: 2;
  font-size: 16px;
}
.banner_home_page_top .banner-content p {
  line-height: 31px;
  font-weight: 100;
}
/* ========== Maincontainer ========== */
/* Homepage Featured Video */
.featured-video {
  overflow: hidden;
}
.featured-video iframe {
  width: 100%;
}
.home-about {
  border-bottom: 1px dashed #ddd;
  padding: 20px 0;
}
.home-about a.btn {
  width: 200px;
  display: block;
  padding: 0;
  margin: auto;
}
.home-shopnow {
  padding: 60px 0;
}
.home-shopnow .btn {
  font-size: 2.3em;
  width: 350px;
}
.home-socialsection {
  padding: 40px 0;
  border-top: 1px solid #F7F7F7;
}
.home-socialsection h2 {
  font-size: 30px;
  color: #929292;
}
.home-testimonials h2 {
  margin-bottom: 40px;
}
.home-testimonials p.testimonial {
  line-height: 30px;
}
.home-testimonials p.icon {
  background: #eee;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 30px;
}
.home-testimonials p.icon i {
  font-size: 40px;
  padding: 26px 0;
}
.home-testimonials .name {
  margin-top: 15px;
}
/* ========== Productlist ========== */
/* ========== Sidebar ========== */
/* ========== Widget / Secondary ========== */
/* ========== Footer ========== */
.footer .newsletter-subscription {
  padding: 15px 0;
}
.footer .newsletter-subscription input {
  padding: 0 1em;
  height: 35px;
}
.footer .footer-main {
  padding: 10px 0 30px 0;
}
.footer .footer-main p,
.footer .footer-main li {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 5px;
}
.footer .footer-main h4 {
  padding: 0;
  text-transform: uppercase;
  font-size: 17px;
}
.footer .footer-main img {
  margin: 20px 0 0 30px;
}
.footer .footer-main .SocialConnect ul {
  text-align: left;
}
.footer .footer-main .SocialConnect ul li {
  margin-right: 35px;
}
.footer .footer-main .SocialConnect ul li a {
  font-size: 27px;
}
/* ========== Module ========== */
/* Newsletter Form */
.newsletter-subscription {
  text-align: center;
}
.newsletter-subscription .newsletter-subscription__title {
  display: inline-block;
  vertical-align: middle;
}
.newsletter-subscription .newsletter-subscription__form {
  display: inline-block;
  vertical-align: middle;
  min-width: 610px;
}
.newsletter-subscription .newsletter-subscription__textbox {
  display: inline-block;
  vertical-align: middle;
  max-width: 250px;
}
.newsletter-subscription .newsletter-subscription__submit-btn {
  display: inline-block;
  vertical-align: middle;
  max-width: 100px;
}
/* Search Form */
/* Login Form */
.login-form .login-form__title {
  margin-bottom: 20px;
}
.login-form .login-form__submit-btn,
.login-form .login-form__link {
  margin-top: 20px;
}
/* Express  Checkout */
.express-checkout .express-checkout__title {
  margin-bottom: 20px;
}
/* ========== Media Querries ========== */
/* Small Screen  (small phones, 480px and up) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* ========== Animation ========== */
